### This is for nominal catagories

 -  The approch is to replace each lable if the catagorical variable by the count ,this is the amount of time each lable is appeared in the daa set
1

In [28]:
df   = pd.read_csv('mercedesbenz.csv',usecols=['X1','X2'])

In [29]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [30]:
pd.get_dummies(df).shape

(4209, 71)

In [31]:
len(df['X1'].unique())

27

In [32]:
for col in df.columns:
    print(col, ':' , len(df[col].unique()),'labels')

X1 : 27 labels
X2 : 44 labels

In [40]:
df_frequemcy_map=df.X2.value_counts().to_dict()

In [38]:
df_frequency_map =df.X2.value_counts().to_dict()
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [41]:
df.X2 = df.X2.map(df_frequency_map)

In [42]:
df

     X1    X2
0     v     6
1     t     4
2     w   137
3     t   137
4     v   137
...  ..   ...
4204  s  1659
4205  o    29
4206  v   153
4207  r    81
4208  r   496

[4209 rows x 2 columns]